@charset "utf-8";
/* body */
body {
    color: black;
    /*font-family: "Consolas";*/
    font-family: "MeryoUI";
}
/* h3 */
h3 {
    margin-top: 50px;
}
/* table */
table {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* th */
th {
    text-align: center;
    color: black;
}
td {
    text-align: left;
    white-space: break-spaces;
}
/* tbody */
tbody > tr:nth-of-type(even) {
    background-color: #daeaff;
}
/* textarea */
textarea {
    color: black;
    /*font-family: "Consolas";*/
    font-family: "MeryoUI";
    word-wrap: "hard";
}
/* div class */
.div-001 {
    margin-top: 10px;
    margin-bottom: 50px;
}
